Flask==0.9
-e git+git@github.com:xen/flask-gear.git@7f572318954999a8aba2ff76f88e093e1f6685a3#egg=Flask_Gear-dev
Flask-PyMongo==0.1.3
Jinja2==2.6
PyYAML==3.10
Werkzeug==0.8.3
distribute==0.6.27
formgear==0.3.5
pymongo==2.3
wsgiref==0.1.2
